 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/gettyimages-129305805-612x612.jpg'), linear-gradient(0deg, rgba(0, 0, 0, 0.96), rgba(0, 0, 0, 0.96));
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 747px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 5.625rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 799px;
  margin: 197px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 615px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
  margin: 45px auto 60px;
  padding: 18px 42px 18px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 50% 50%, 28.87% 50%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 50% 50%, 2.15% 50%;
    background-size: cover, cover, cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 138px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%, 14.02% 50%;
    background-size: cover, cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 1), rgba(26, 26, 26, 1));
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-2 .u-text-1 {
  margin: 54px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.u-section-2 .u-image-1 {
  min-height: 456px;
  background-image: url("images/32455274-uma-homem-dentro-uma-azul-polo-camisa-e-caqui-calca-gerado-por-ia-gratis-foto.jpg");
  background-size: auto 140%;
  background-position: 50.66% 78.78%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-image-2 {
  min-height: 456px;
  background-image: url("images/Bermuda_Jeans_Masculina_com_Lycra_Urbano_loja_viego_5__5_11zon_700x.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  background-position: 50% 97.44%;
  background-repeat: no-repeat;
  background-image: url("images/br-11134207-7r98o-lsj0q9l3ucysd4.jfif");
  background-size: cover;
  min-height: 456px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -168px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 169px;
  }

  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 376px;
  }

  .u-section-2 .u-image-2 {
    min-height: 376px;
  }

  .u-section-2 .u-image-3 {
    min-height: 376px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -354px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 355px;
  }

  .u-section-2 .u-image-1 {
    min-height: 288px;
  }

  .u-section-2 .u-image-2 {
    min-height: 288px;
  }

  .u-section-2 .u-image-3 {
    min-height: 318px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2402px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1021px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -993px;
  }

  .u-section-2 .u-image-1 {
    min-height: 648px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 648px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 515px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1322px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -282px;
    margin-bottom: -156px;
  }

  .u-section-2 .u-image-1 {
    min-height: 408px;
  }

  .u-section-2 .u-image-2 {
    min-height: 408px;
  }

  .u-section-2 .u-image-3 {
    min-height: 324px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1358px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 89px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 55px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 9.5px);
  grid-template-columns: repeat(2, calc(50% - 9.5px));
  min-height: 927px;
  grid-gap: 19px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --radius: 15px;
  background-image: none;
  margin: 20px auto 0;
  padding: 17px 78px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 9.87%;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --radius: 15px;
  background-image: none;
  margin: 20px auto 0;
  padding: 17px 78px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --radius: 15px;
  background-image: none;
  margin: 20px auto 0;
  padding: 17px 78px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --radius: 15px;
  background-image: none;
  margin: 20px auto 0;
  padding: 17px 78px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 765px;
  }

  .u-section-3 .u-image-1 {
    height: 240px;
  }

  .u-section-3 .u-image-2 {
    height: 240px;
  }

  .u-section-3 .u-image-3 {
    height: 240px;
  }

  .u-section-3 .u-image-4 {
    height: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 386px;
  }

  .u-section-3 .u-image-2 {
    height: 386px;
  }

  .u-section-3 .u-image-3 {
    height: 386px;
  }

  .u-section-3 .u-image-4 {
    height: 386px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 304px;
  }

  .u-section-3 .u-image-2 {
    height: 304px;
  }

  .u-section-3 .u-image-3 {
    height: 304px;
  }

  .u-section-3 .u-image-4 {
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2268px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 325px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 325px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 325px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 325px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 671px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 581px;
  --radius: 15px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-1 {
  width: 108px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 30px 1px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --radius: 15px;
  background-image: none;
  margin: 84px auto 0 0;
  padding: 18px 73px 18px 71px;
}

.u-section-4 .u-image-1 {
  min-height: 581px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/Avatar_Instagram_Principal.png");
  background-size: cover;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 367px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 551px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-line-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 347px;
  }
}.u-block-06aa-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-06aa-3 {
  position: absolute;
  left: 0;
}

.u-block-06aa-4 {
  position: absolute;
  right: 0;
}

 .u-section-5-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/1-dicas-para-comprar-roupas-importadas-para-revender.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-5-1 .u-text-1 {
  width: 775px;
  font-size: 3rem;
  margin: 247px auto 86px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-5-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-5-1 .u-text-1 {
    width: 540px;
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-5-1 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin: 60px 0;
  }
}

 .u-section-5-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/woman-cutting-hair-man-salon2-min.jpg?rand=f0fd');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-5-2 .u-text-1 {
  width: 775px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-5-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-5-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-5-2 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}

 .u-section-5-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/WhatsApp-Image-2024-09-30-at-14.25.45.jpeg');
  background-position: 50% 50%, 50% 89.06%;
  background-size: cover, cover;
}

.u-section-5-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-5-3 .u-text-1 {
  width: 775px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-5-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-5-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-5-3 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}